.container-content {
    width: 100%;
    max-width: 1040px;
    margin: auto;
}
.container-content .leftside {
    width: 753px;
    min-height: 200px;
    float: left;
}
.container-content .rightside {
    width: 275px;
    min-height: 200px;
    margin-left: 12px;
    float: right;
}