.slideshow + .widget {
    margin-top: 18px;
}
.slideshow + .widget .left {
    float: left;
    height: 330px;
}
.slideshow + .widget .right {
    width: 300px;
    float: right;
    display: block;
}
.news-item {
    width: 300px;
    height: 88px;
    margin-top: 8px;
    margin-bottom: 6px;
    display: block;
}
.news-item-cape {
    width: 80px;
    height: 80px;
    padding: 3px;
    float: left;
    border: 1px solid #dfdfdf;
}
.news-item-tittle {
    width: 203px;
    margin-top: 2px;
    margin-left: 8px;
    float: left;
    font-size: 11px;
}
.news-item-coments {
    width: 203px;
    margin-left: 8px;
    padding-top: 12px;
    float: left;
    font-size: 9px;
    color: #a7a7a7;
}
.big {
    width: 406px;
}
.big .news-item-cape {
    width: 398px;
}
.big .news-item-tittle {
    width: 398px;
}
.big .news-item-coments {
    width: 398px;
}