.widget {
    margin-bottom: 12px;
    border: 1px solid #dedede;
}
.widget .tittle {
    height: 33px;
    padding-left: 8px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #dedede;
    font-size: 11px;
    line-height: 33px;
    text-transform: uppercase;
}
.widget-social-content {
    height: 42px;
    margin: auto;
    background-color: #fefefe;
    text-align: center;
}
.widget-social-content img{
    padding-top: 8px;
    margin-left: 1.5px;
    margin-right: 1.5px;
}
.widget-lastnews-content {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.widget-lastnews-content .news-iten {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
}
.widget-lastnews-content a {
    color: black;
    font-size: 13px;
    text-decoration: none;
}
.widget-lastnews-content .news-iten-last {
    padding-top: 10px;
    padding-bottom: 10px;
}
.slideshow + .widget {
    margin-top: 18px;
}